@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~flag-icon-css/css/flag-icon.min.css';
@import '~font-awesome/css/font-awesome.min.css';

nav {
    position: fixed;
}

.container {
    margin-top: 15px;
}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin-left: -44px; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: dodgerblue; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: dodgerblue; }
.box .space { height: 30px; }

.translation-empty {
    outline: 2px solid red;
}

.filter-active,
.filter-empty:active,
.filter-empty.filter-active:focus {
    background-color: dodgerblue;
}

.loading {
    background-image: url('/images/ajax-loader.gif');
    background-position: right 20px center;
    background-repeat: no-repeat;
}

.translation-state {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin-left: 10px;
    display: inline-block;
}

.translation-untouched {
    background-color: darkgray;
}

.translation-same {
    background-color: yellow;
}

.translation-today-touched {
    background-color: green;
}

.row-hover:nth-child(odd) {
    background-color: #def;
}
.row-hover:nth-child(even) {
    background-color: #fff;
}

.row-hover:hover {
    background-color: #f5f5f5;
}

.container > div.row:first-child {
    margin-top: 70px;
}

.ui-dialog.ui-corner-all.ui-widget {
    box-shadow: 5px 10px 10px #0b2e13;
}
